@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=News+Cycle&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Baloo+Tamma+2|Bellota+Text|Oxanium&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Oxanium", "Bellota Text", cursive, sans-serif, Arial;
}

.game-display {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b3cee4;
}
.canvas-holder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvas-holder > p {
  font-size: 13px;
}
.high-score {
  margin: 10px 0 20px;
  font-size: 20px;
}
.game-board {
  /* position: absolute; */
  border: 1px solid black;
  border-radius: 5px;
  background-color: #363c41;
  box-shadow: 0 0 10px;
}
.reset {
  /* position: absolute; */
  bottom: 0;
  margin: 30px 0 20px;
  background-color: #2e343a;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: white;
}
.reset:hover {
  cursor: pointer;
}
.reset-game {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: 1px solid rgb(255, 0, 0);
  background-color: rgba(253, 1, 1, 0.6);
  border-radius: 3px;
  width: 150px;
  padding: 10px;
}
.reset-game p {
  margin-bottom: 10px;
}
.reset-newGame {
  background-color: #5d8700;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: white;
}

.reset-newGame:hover {
  cursor: pointer;
}